<div class="mod_contentMiCuenta">
		<div class="items"><h2>Bienvenido a la tienda!</h2>
		<div *ngIf="auth.user | async; then authenticated else guest"></div>
		<ng-template #guest>
		<h2>Para poder comprar por favor inicia sesión</h2> 
			</ng-template>
			<ng-template #authenticated>
			<h2 class="text-center">Productos</h2>
								<div class="section">
									<div class="products">
										<div class="product">
											<img class="product__image" src="assets/img/products/rf_cap.jpg" alt="RF Cap">
											<h2 class="product__name">Gorra Nike</h2>
											<h3 class="product__price">1,200.00</h3>
											<button class="btn btn--primary" (click)="onCartAdd($event)">Agregar al carrito</button>
										</div>
										<div class="product">
											<img class="product__image" src="assets/img/products/lacoste_sneakers.jpg" alt="Lacoste Sneakers">
											<h2 class="product__name">Tenis Lacoste</h2>
											<h3 class="product__price">2,500.00</h3>
											<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
										</div>
										<div class="product">
											<img class="product__image" src="assets/img/products/tv_samsung.jpg" alt="iPhone XS">
											<h2 class="product__name">iPhone XS 512GB"</h2>
											<h3 class="product__price">25,500.00</h3>
											<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
										</div>
										<div class="product">
												<img class="product__image" src="assets/img/products/lacoste_sneakers.jpg" alt="Lacoste Sneakers">
												<h2 class="product__name">Tenis Lacoste</h2>
												<h3 class="product__price">2,500.00</h3>
												<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
											</div>
											<div class="product">
													<img class="product__image" src="assets/img/products/rf_cap.jpg" alt="RF Cap">
													<h2 class="product__name">Gorra Nike</h2>
													<h3 class="product__price">1,200.00</h3>
													<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
												</div>
												<div class="product">
														<img class="product__image" src="assets/img/products/rf_cap.jpg" alt="RF Cap">
														<h2 class="product__name">Gorra Nike</h2>
														<h3 class="product__price">1,200.00</h3>
														<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
													</div>
													<div class="product">
														<img class="product__image" src="assets/img/products/lacoste_sneakers.jpg" alt="Lacoste Sneakers">
														<h2 class="product__name">Tenis Lacoste</h2>
														<h3 class="product__price">2,500.00</h3>
														<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
													</div>
													<div class="product">
														<img class="product__image" src="assets/img/products/tv_samsung.jpg" alt="iPhone XS">
														<h2 class="product__name">iPhone XS 512GB"</h2>
														<h3 class="product__price">25,500.00</h3>
														<button class="btn btn--primary" (click)="cartCounter($event)">Agregar al carrito</button>
													</div>
									</div>
							</div>
						</ng-template>
		</div>
	</div>